# Environnement virtuel
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Variables d'environnement
.env

# Tests / Coverage
.coverage
htmlcov/
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
